<html>
<head>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/datatables-1.10.7.min.js"></script>
    <script src="/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/js/colreorder-1.1.3.min.js"></script>
    <script src="/js/scroller-1.2.2.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/api/fnProcessingIndicator.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/sorting/ip-address.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/colreorder/1.1.3/css/dataTables.colReorder.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.js"></script>
    
    <style>
        .ui-progressbar {
            position: relative;
        }

        .progress-label {
            position: absolute;
            left: 50%;
            top: 4px;
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff;
        }
    </style>

    <script>
        $(function () {
            var fileSize = 0;
            var columns = [{ "title": "No", "width": "10%", "orderable": "true" },
                                { "title": "Timestamp", "width": "40%", "orderable": "true" },
                                { "title": "Source", "width": "25%", "type": "ip-address", "orderable": "true" },
                                { "title": "Destination", "width": "25%", "type": "ip-address", "orderable": "true" }];
            $('#packetTable').dataTable({
                "retrieve": true,
                "ordering": true,
                "dom": 'RrtS',
                "cellspacing": 0,
                "scrollY": "660px",
                "processing": true,
                "columns": columns,
                "deferRender": true,
                "paging": true,
                "searching": false,
                "stateSave": false,
            });

            dataTable = $('#packetTable').dataTable();
            $('#packetTable tbody').on('click', 'tr', function () {
                dataTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                socket.emit('selected', $('#tabs').tabs('option', 'active'), dataTable.api().row('.selected').index());
            });

            $('#btnFilter').click(function () {
                var txtBox = $('#txtFilter');
                socket.emit('filter', txtBox.val());
                
            });

            $('#btnLoad').click(function () {
                var filename = '';
                $("#fileList option:selected").each(function () {
                    filename += $(this).text() + "";
                });
                dataTable.api().clear().draw();
                socket.emit('start', filename);
            });
            
            $('#btnSave').click(function () {
            	var filename = '';
            	$("#fileList option:selected").each(function () {
                    filename += $(this).text() + "";
                });
            	
            	socket.emit('save', filename, $('#txtFilter').val());
            });

            $('#fileList').change(function () {
                
            });
            
            $( "#tabs" ).tabs({
            	activate : function (event, ui) {
            		if (ui.newTab.index() == 1) {
            			if (dataTable.api().row('.selected').index()) {
            				socket.emit('selected', $('#tabs').tabs('option', 'active'), dataTable.api().row('.selected').index());
            			}
            		}
            	}
            });
        });

        var counter = 0;
        var list = [];
        var socket = io.connect('http://172.24.47.47:8001/',{transports : ["websocket"]});
        var dataTable;
        var dateNow;

        socket.on('connect', function () {
            $('#incomingChatMessages').append($('<li>Connected</li>'));
            socket.emit('getFiles');

        });

        socket.on('files', function (files) {
            var fList = $('#fileList');
            fList.empty();
            var fileIndex = 0;
            $.each(files, function (index, fileName) {
                fList.append(
                    $('<option></option>').val(index).html(fileName)
                );
            });
        });

        socket.on('packet', function (packetLength) {
            counter++;
            if (!dateNow) {
                dateNow = Date.now();
                dataTable.fnProcessingIndicator();
            }
        });

        socket.on('complete', function (data) {
            dataTable.api().rows.add(data).draw();
            dataTable.fnProcessingIndicator(false);

            dateNow = undefined;
        });

        socket.on('disconnect', function () {
            $('#incomingChatMessages').append('<li>Disconnected</li>');
            dataTable.api().clear().draw();
            counter = 0;
        });

        socket.on('validated', function (value) {
            var filterBox = $('#txtFilter');
            if (value) {
                if (filterBox.val().length > 0) {
                    filterBox.css('background-color', '#BDEEBD');
                } else {
                    filterBox.css('background-color', '#FFFFFF');
                }
            } else {
                filterBox.css('background-color', '#EEBDBD');
            }
        });

        socket.on('filtered', function (filteredList) {
            dataTable.api().clear().draw();
            dataTable.api().rows.add(filteredList).draw();
            dataTable.fnProcessingIndicator(false);
        });
        
        socket.on('decoded', function (decodedString) {
        	$('#lblReadable').html(decodedString.replace('\r\n', '<br>'));
        });

        socket.on('errorList', function (list) {
            console.log(list);
        });

    </script>
</head>
<body>
    Status: <ul id="incomingChatMessages"></ul>
    Progress: <label id="progress">0</label>
    
    <!--<div id="progressbar"><div class="progress-label">Loading...</div></div>-->
    
    <div style="width:60%; margin-left:auto; margin-right:auto">
        <select id="fileList"></select><input id="btnLoad" type="submit" value="Load"/>
        <input id="txtFilter" type="text" style="width:50%" />
        <input id="btnFilter" type="submit" />
        <table class="cell-border" id='packetTable'></table>
        
        <div id="tabs">
		  <ul>
		    <li><a href="#tabHex">Hexadecimal</a></li>
		    <li><a href="#tabReadable">Readable</a></li>
		  </ul>
		  <div id="tabHex">
		    <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
		  </div>
		  <div id="tabReadable">
		    <p id="lblReadable"></p>
		  </div>
		</div>
		
		<input id="btnSave" type="submit" />
    </div>

</body>
</html>